a{
    text-decoration: none !important;
}
.list{
    list-style-type: none
}
.product-list .card{
    
    background-color: white;
    /* border-radius: 10px; */
    margin: 20px;
    max-width: 300px;
    min-width: 300px;
    max-height: 500px;
    min-height: 500px;
    /* -webkit-box-shadow: 3px 7px 7px 2px #ebd7d7;
    box-shadow: 3px 7px 7px 1px #9c9c9c; */

}
 .card-img{
    padding: 10px;
    max-width: 300px;
    min-width: 300px;
    max-height: 200px;
    min-height: 200px;
}
.button-card{
    position: absolute;
    bottom: 25px;
}
.filters{
    background-color: #7f8183;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 10px;
    height: 86vh;
}
.label{
    padding: 10px;
}
.cart-item{
    display: flex;
    padding: 20px;
justify-content: space-between;
}
.row{
    border:solid 1px;
    max-height: 200px;
    min-height: 200px;
    padding: 10px;
}
.cart-img{
    max-width: 100px;
    min-width: 100px;
    max-height: 100px;
    min-height: 100px;
    padding-top: 10px;
}
.cart-imgg{
    max-width: 30px;
    min-width: 30px;
    max-height: 30px;
    min-height: 30px;
    margin: 10px;
}
.spinner{
    position: absolute;
    top: 45%;
    left: 45%
}
.summary{
border: 1px solid;
border-radius: 10px;
max-width: 30%;
min-width: 30%;
max-height: 70%;
min-height: 70%;

}